.chatlist .ant-list-item-meta-title > a,.chatlist  .ant-list-item-meta-description
{
    color:white !important
}
.chatlist  .ant-list-item-meta-description
{
    font-size: 12px !important;
}

.chatlist .ant-list-item-meta-title
{
    margin-top: 5px !important;
}