.ant-list-item-meta-title > a,
.ant-list-item-meta-description {
  color: white !important;
}
.ant-list-item-meta-description {
  font-size: 12px !important;
}

.ant-list-item-meta-title {
  margin-top: 5px !important;
}
.ant-input-outlined {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}
.ant-input-clear-icon {
  color: white !important;
}

::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}

.ant-modal-content {
  background-color: rgba(17, 25, 40, 0.75) !important;
  color: white !important;
  border: 1px solid rgba(121, 121, 121, 0.747) !important;
}
